$colorMainText: #ffffff;
$colorBoarderSelectedItem: #ffffff;
$colorTextDetails: #656565;
$colorBackgroundDetails: rgb(173, 173, 173);
$colorBackgroundrate: rgb(221, 221, 221);
$font-weight: normal;
$colorHeaderItem1:  rgb(41, 135, 135);
$colorHeaderItem2:  rgb(35, 119, 95);
$colorHeaderItem3:  rgb(145, 59, 50);
$colorHeaderItem4:  rgb(44, 53, 53);
$colorShell1: rgb(52, 159, 159);
$colorShell2: rgb(152, 76, 68);
$colorShell3: rgb(69, 128, 111);
$colorShell4: rgb(58, 71, 71);